		{% load staticfiles %}


	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>About Me</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'appStory4/css/linearicons.css'%}">
			<link rel="stylesheet" href="{% static 'appStory4/css/font-awesome.min.css'%}">
			<link rel="stylesheet" href="{% static 'appStory4/css/bootstrap.css'%}">
			<link rel="stylesheet" href="{% static 'appStory4/css/magnific-popup.css'%}">
			<link rel="stylesheet" href="{% static 'appStory4/css/nice-select.css'%}">	
			<link rel="stylesheet" href="{% static 'appStory4/css/animate.min.css'%}">	
			<link rel="stylesheet" href="{% static 'appStory4/css/owl.carousel.css'%}">						
			<link rel="stylesheet" href="{% static 'appStory4/css/main.css'%}">	
		</head>
		<body>	
			<header id="header">
		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a href="{% url 'homepage' %}"><img src="https://i.imgur.com/rJxCqbS.png" alt="" title="" /></a>
			      </div>
			      <div id="navbar"></div>
			      {% include "navbar.html" %}	      		
		    	</div>
		    </div>
		  </header><!-- #header -->
			  
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								ABOUT ME				
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

<!-- Start home-about Area -->
			<section class="home-about-area section-gap">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-4 col-md-4 home-about-left">
							<img class="img-2" src="https://i.imgur.com/b4BLvzW.png" alt="">
						</div>
						<div class="col-lg-5 col-md-6 home-about-right">
							<h6>Who Am I? I am</h6>
							<h1 class="text-uppercase" style="color: #222">Shafira Dyah Pradita</h1>
							<p style="color: #222">
								Just an ordinary Information System student who have a big interest in web design and is currently working on being a better self than before.
							</p>
							<a href="mailto:shafiradyhp@gmail.com" class="primary-btn2 text-uppercase">mail me</a>
						</div>
						
					</div>
					<div class="row skillbar-wraps">					
						<div class="col-lg-6 skill-left">
							<div class="single-skill">
								<p style="color: #222">
									Graphic Design 95%
								</p>
								<div class="skill" data-width="95"></div>
							</div>
							<div class="single-skill">
								<p style="color: #222">
									Programming | Python 80%
								</p>
								<div class="skill" data-width="80" style="color: #222"></div>
							</div>
							<div class="single-skill">
								<p style="color: #222">
									Programming | Java 70%
								</p>
								<div class="skill" data-width="70" style="color: #222"></div>
							</div>																			
						</div>
						<div class="col-lg-6 skill-right">
							<div class="single-skill">
								<p style="color: #222">
									Public Speaking 90%
								<div class="skill" data-width="90" style="color: #222"></div>
							</div>									
							<div class="single-skill">
								<p style="color: #222">
									Cinematography 85%
								</p>
								<div class="skill" data-width="85" style="color: #222"></div>
							</div>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->	

			<!-- Start timeline Area -->
			<section class="timeline pb-120">
            <div class="text-center">
                <div class="menu-content pb-70">
                    <div class="title text-center">
                        <h1 class="mb-10" style="color: #222">Education</h1>
                    </div>
                </div>
            </div>				
			  <ul>
			    <li>
			      <div class="content">
			        <h4 style="color: #222">
			          <time>SD Al-Azhar Syifa Budi</time>
			        </h4>
			        <p style="color: #222"><b>Session:</b> 2005-2011</p>
			      </div>
			    </li>
			    <li>
			      <div class="content">
			        <h4 style="color: #222">
			          <time>SMP Al-Azhar Syifa Budi</time>
			        </h4>
			        <p style="color: #222"><b>Session:</b> 2011-2014</p>
			      </div>
			    </li>
			    <li>
			      <div class="content">
			        <h4 style="color: #222">
			          <time>SMA Negeri 38 Jakarta</time>
			        </h4>
			        <p style="color: #222"><b>Session:</b> 2014-2017</p>
			      </div>
			    </li>
			    <li>
			      <div class="content">
			        <h4>
			          <time style="color: #222">University of Indonesia</time>
			        </h4>
			        <p style="color: #222"><b>Major:</b> Information System</p>
			        <p style="color: #222"><b>Session:</b> 2017-present</p>
			      </div>
			    </li>
			  </ul>
			</section>		

			<!-- End timeline Area -->


			<!-- End timeline Area -->


			

            <!-- start footer Area -->
           <footer>
            {% include "appStory4/footer.html" %} 
            </footer>
            <!-- End footer Area -->		

            <script src="{% static 'appStory4/js/vendor/jquery-2.2.4.min.js'%}"></script>	
      		<script src="{% static 'appStory4/js/popper.min.js'%}"></script>
            <script src="{% static 'appStory4/js/vendor/bootstrap.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/easing.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/hoverIntent.js'%}"></script>	
            <script src="{% static 'appStory4/js/superfish.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.ajaxchimp.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.magnific-popup.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.tabs.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.nice-select.min.js'%}"></script>
            <script src="{% static 'appStory4/js/isotope.pkgd.min.js'%}"></script>
            <script src="{% static 'appStory4/js/waypoints.min.js'%}"></script>
            <script src="{% static 'appStory4/js/jquery.counterup.min.js'%}"></script>
            <script src="{% static 'appStory4/js/simple-skillbar.js'%}"></script>
            <script src="{% static 'appStory4/js/owl.carousel.min.js'%}"></script>
            <script src="{% static 'appStory4/js/mail-script.js'%}"></script>
            <script src="{% static 'appStory4/js/main.js'%}"></script>
<!--
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 -->

		</body>
	</html>