
			{% load staticfiles %}


	<!DOCTYPE html>
	<html lang="zxx" class="no-js">

	<link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">

	<head>


		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Shafira Dyah</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" type="text/css" href="{% static 'appStory4/css/linearicons.css'%}">
			<link rel="stylesheet" type="text/css" href="{% static 'appStory4/css/font-awesome.min.css'%}">
			<link rel="stylesheet" type="text/css" href="{% static 'appStory4/css/bootstrap.css'%}">
			<link rel="stylesheet" type="text/css" href="{% static 'appStory4/css/magnific-popup.css'%}">
			<link rel="stylesheet" type="text/css" href="{% static 'appStory4/css/nice-select.css'%}">	
			<link rel="stylesheet" type="text/css" href="{% static 'appStory4/css/animate.min.css'%}">	
			<link rel="stylesheet" type="text/css" href="{% static 'appStory4/css/owl.carousel.css'%}">						
			<link rel="stylesheet" type="text/css" href="{% static 'appStory4/css/main.css'%}">			
		</head>
		<body>	
			<header id="header">
		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a href="{% url 'homepage' %}"><img src="https://i.imgur.com/rJxCqbS.png" alt="" title="" /></a>
			      </div>
			      <div id="navbar"></div>
			      {% include "navbar.html" %}	      		
		    	</div>
		    </div>
		  </header><!-- #header -->
		  

			<!-- start banner Area -->
			<section class="banner-area">
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 banner-left">
							<h1>Hello,</h1>
							<h1>I Am Shafira Dyah</h1>
							<p>
								an undergraduate student at University of Indonesia.
							</p>
							<a href="{% url 'about me' %}" class="primary-btn text-uppercase">about me</a>
						</div>
						<div>
							<div class="container">
								<img class="img-fluid" src="https://i.imgur.com/gXnnhYr.jpg" alt="" width="300" height="300">
							</div>
						</div>
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

		

            <!-- start footer Area -->
            <footer>	
            	{% include "appStory4/footer.html" %} 
            </footer>
            <!-- End footer Area -->	


            <script src="{% static 'appStory4/js/vendor/jquery-2.2.4.min.js'%}"></script>	
      		<script src="{% static 'appStory4/js/popper.min.js'%}"></script>
            <script src="{% static 'appStory4/js/vendor/bootstrap.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/easing.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/hoverIntent.js'%}"></script>	
            <script src="{% static 'appStory4/js/superfish.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.ajaxchimp.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.magnific-popup.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.tabs.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.nice-select.min.js'%}"></script>
            <script src="{% static 'appStory4/js/isotope.pkgd.min.js'%}"></script>
            <script src="{% static 'appStory4/js/waypoints.min.js'%}"></script>
            <script src="{% static 'appStory4/js/jquery.counterup.min.js'%}"></script>
            <script src="{% static 'appStory4/js/simple-skillbar.js'%}"></script>
            <script src="{% static 'appStory4/js/owl.carousel.min.js'%}"></script>
            <script src="{% static 'appStory4/js/mail-script.js'%}"></script>
            <script src="{% static 'appStory4/js/main.js'%}"></script>
		</body>
	</html>