
			      
			      
			{% load staticfiles %}


	<!DOCTYPE html>
	<!DOCTYPE html>
	<html>
	
			      {% include "navbar.html" %}
<div class="calendar_entry col-lg-4">
  <br />
  <h2>{{ entry.namaKegiatan }}</h2>
  <h4>{{ entry.date }}</h4>
  <p>{{ entry.place }}</p>
  <p>{{ entry.category }}</p>
  <button onclick="window.location='{% url 'details' pk=entry.id %}'" class="btn btn-primary">View Details</button>
  <button data-id="{{ entry.id }}" onclick="deleteCalendarEntry(this)" class="btn btn-danger">Delete</button>
</div>
</html>