{% load staticfiles %}
    <!DOCTYPE html>
    <html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="colorlib">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>Agenda</title>

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
            <!--
            CSS
            ============================================= -->
            <link rel="stylesheet" href="{% static 'appStory4/css/linearicons.css'%}">
            <link rel="stylesheet" href="{% static 'appStory4/css/font-awesome.min.css'%}">
            <link rel="stylesheet" href="{% static 'appStory4/css/bootstrap.css'%}">
            <link rel="stylesheet" href="{% static 'appStory4/css/magnific-popup.css'%}">
            <link rel="stylesheet" href="{% static 'appStory4/css/nice-select.css'%}">  
            <link rel="stylesheet" href="{% static 'appStory4/css/animate.min.css'%}">  
            <link rel="stylesheet" href="{% static 'appStory4/css/owl.carousel.css'%}">                     
            <link rel="stylesheet" href="{% static 'appStory4/css/main.css'%}"> 
        </head>
        <body>  
            <header id="header">
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                  <div id="logo">
                    <a href="{% url 'homepage' %}"><img src="https://i.imgur.com/rJxCqbS.png" alt="" title="" /></a>
                  </div>
                  <div id="navbar"></div>
                  {% include "navbar.html" %}               
                </div>
            </div>
          </header><!-- #header -->
            <!-- start banner Area -->
            <section class="about-banner">
                <div class="container">             
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                AGENDA         
                            </h1>   
                        </div>  
                    </div>
                </div>
            </section>
            <!-- End banner Area -->    
            
            <!-- Start form-area Area -->
    <section class="home-about-area section-gap">
    <div class="container">
        <h2 style="color: #000000" >Agenda</h2><br>
                <table style="width:100% color: #000000">
                    {% if agendas %}
                        <tr style="color: #000000">
                            <th>Activity</th>
                            <th>Day / Date</th>
                            <th>Time</th>
                            <th>Place</th>
                            <th>Category</th>
                        </tr>
                        {% for agenda in agendas %}
                            <tr style="color: #000000">
                                <td>{{ agenda.activity }}</td>
                                <td>{{ agenda.day }} / {{ agenda.date }}</t><td>{{ agenda.time }}</td>
                                <td>{{ agenda.place }}</td>
                                <td>{{ agenda.category }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h5 style="color: #000000">There's no upcoming events yet, YEAY!</h5> 
                    {% endif %}
                </table>
        <br>
        <a  href="{% url 'create_agenda'%}" >Create Agenda</a> <br> 
        <a  href="{% url 'delete_new'%}" >Delete All Agenda?</a>
    </div>
    </section>
            <!-- End form-area Area --> 

            <!-- start footer Area -->
            <footer>
                {% include "footer.html" %}       
            </footer>

            <!-- End footer Area -->        

            <script src="{% static 'appStory4/js/vendor/jquery-2.2.4.min.js'%}"></script>   
            <script src="{% static 'appStory4/js/popper.min.js'%}"></script>
            <script src="{% static 'appStory4/js/vendor/bootstrap.min.js'%}"></script>  
            <script src="{% static 'appStory4/js/easing.min.js'%}"></script>    
            <script src="{% static 'appStory4/js/hoverIntent.js'%}"></script>   
            <script src="{% static 'appStory4/js/superfish.min.js'%}"></script> 
            <script src="{% static 'appStory4/js/jquery.ajaxchimp.min.js'%}"></script>  
            <script src="{% static 'appStory4/js/jquery.magnific-popup.min.js'%}"></script> 
            <script src="{% static 'appStory4/js/jquery.tabs.min.js'%}"></script>   
            <script src="{% static 'appStory4/js/jquery.nice-select.min.js'%}"></script>
            <script src="{% static 'appStory4/js/isotope.pkgd.min.js'%}"></script>
            <script src="{% static 'appStory4/js/waypoints.min.js'%}"></script>
            <script src="{% static 'appStory4/js/jquery.counterup.min.js'%}"></script>
            <script src="{% static 'appStory4/js/simple-skillbar.js'%}"></script>
            <script src="{% static 'appStory4/js/owl.carousel.min.js'%}"></script>
            <script src="{% static 'appStory4/js/mail-script.js'%}"></script>
            <script src="{% static 'appStory4/js/main.js'%}"></script>
        </body>
    </html>