<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Stay in Touch with Me!</h4>
	                   <div class="footer-social d-flex align-items-center">
	                       <a href="www.facebook.com/shafiradyahpradita"><i class="fa fa-facebook"></i></a>
	                       <a href="www.twitter.com/stormbaeker"><i class="fa fa-twitter"></i></a>
	                       <a href="www.instagram.com/shafiradyah"><i class="fa fa-instagram"></i></a>
	                       <a href="https://www.linkedin.com/in/shafiradyah/"><i class="fa fa-linkedin"></i></a>
	                   </div>	
	           </div>    
            </div>
        </div>
    </div>
                       
</footer>