{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Guest Book</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'appStory4/css/linearicons.css'%}">
			<link rel="stylesheet" href="{% static 'appStory4/css/font-awesome.min.css'%}">
			<link rel="stylesheet" href="{% static 'appStory4/css/bootstrap.css'%}">
			<link rel="stylesheet" href="{% static 'appStory4/css/magnific-popup.css'%}">
			<link rel="stylesheet" href="{% static 'appStory4/css/nice-select.css'%}">	
			<link rel="stylesheet" href="{% static 'appStory4/css/animate.min.css'%}">	
			<link rel="stylesheet" href="{% static 'appStory4/css/owl.carousel.css'%}">						
			<link rel="stylesheet" href="{% static 'appStory4/css/main.css'%}">	
	</head>
	<body>	
		<header id="header">
		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
				    <div id="logo">
						<a href="{% url 'homepage' %}"><img src="https://i.imgur.com/rJxCqbS.png" alt="" title="" /></a>
				    </div>
				    	<div id="navbar"></div>
				    		{% include "navbar.html" %}	      		
		    	</div>
		    </div>
		 </header><!-- #header -->
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								GUEST BOOK			
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start form-area Area -->
			<section class="home-about-area section-gap">
            	<div class="col-lg-12">
						<form>
							<div class="row2">	
								<div class="col-lg-6 form-group">
									<input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">

									<input name="today" type="date" class="common-input mb-20 form-control">

									<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control"required="" type="email">

									<input name="subject" placeholder="Enter subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control" required="" type="text">
								</div>
									<div class="col-lg-7 form-group">
										<textarea class="common-textarea form-control" name="message" placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required=""></textarea>				
									</div>
									<div class="col-lg-8">
										<div style="text-align: left;"></div>
										<button class="genric-btn primary" style="float: center;">Send Message</button>											
									</div>
							</div>
						</form>	
				</div>
            </section>
            <!-- End form-area Area -->	

            <!-- start footer Area -->
            <footer>
            	{% include "footer.html" %}    	
            </footer>

            <!-- End footer Area -->		

            <script src="{% static 'appStory4/js/vendor/jquery-2.2.4.min.js'%}"></script>	
      		<script src="{% static 'appStory4/js/popper.min.js'%}"></script>
            <script src="{% static 'appStory4/js/vendor/bootstrap.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/easing.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/hoverIntent.js'%}"></script>	
            <script src="{% static 'appStory4/js/superfish.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.ajaxchimp.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.magnific-popup.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.tabs.min.js'%}"></script>	
            <script src="{% static 'appStory4/js/jquery.nice-select.min.js'%}"></script>
            <script src="{% static 'appStory4/js/isotope.pkgd.min.js'%}"></script>
            <script src="{% static 'appStory4/js/waypoints.min.js'%}"></script>
            <script src="{% static 'appStory4/js/jquery.counterup.min.js'%}"></script>
            <script src="{% static 'appStory4/js/simple-skillbar.js'%}"></script>
            <script src="{% static 'appStory4/js/owl.carousel.min.js'%}"></script>
            <script src="{% static 'appStory4/js/mail-script.js'%}"></script>
            <script src="{% static 'appStory4/js/main.js'%}"></script>
		</body>
	</html>