<nav id="nav-menu-container">
	<ul class="nav-menu">
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About</a></li>	
		<li><a href="form.html">Guest Book</a></li>     
		<li><a href="create_agenda.html">Create Agenda</a></li>  
	</ul>
</nav><!-- #nav-menu-container -->		    		
